.header {
  color: white;
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  overflow-x: scroll;
}

/* Hide scrollbar for chrome, safari & opera */
.header::-webkit-scrollbar {
    display: none;
}

/* hide scrollbar for IE, Edge & firefox */
.header {
    -ms-overflow-style: none; /*IR & Edge*/
    scrollbar-width: none; /*firefox*/
}

.header__icons {
  display: flex;
  align-items: center;
  text-align: center;
}

.home__icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 100px;  
}

.home__icon > .MuiSvgIcon-root {
    font-size: 30px;
    margin-right: auto;
    margin-left: auto;
}

.home__icon > p {
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-left: auto;
    margin-right: auto;
    font-size: small;
    display: none;
}

.home__icon--active > p {
    display: inline-flex !important;
}

.home__icon:hover > p {
    display: inline;
}

.header > img {
  object-fit: contain;
  height: 80px;
}
